body{
    background-image: url('../images/oceano.jpg');
    /* Faz a imagem caber na tela */
    /* background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.profile{
    /* mudar a borda */
    border-radius: 100%;
    width: 15%;
    /* tamanho da borda e cor */
    border: 2px solid white;
}
.txt{
    font-size: 20px;
}
.link{
    color: black;
    text-decoration: none;
    font-size: 15px;
}
/* Hover serve para mudar cor ou aumentar tamanho quando o mouse passa por cima */
.link:hover{
    color: rgb(75, 2, 75);
    text-decoration: none;
    font-size: 17px;
}
.space{
    margin-right: 10px;
}
.btn-wpp{
    border: 1px solid transparent;
    padding: .375rem .75rem;
    border-radius: .25rem;
    background-color: #02e676;
    color: #fff;
    border-color: #02e676;
    text-decoration: none;
}
.btn-git{
    border: 1px solid transparent;
    padding: .375rem .75rem;
    border-radius: .25rem;
    background-color: #000;
    color: #fff;
    border-color: #000;
    text-decoration: none;
}
.btn-lkdin{
    border: 1px solid transparent;
    padding: .375rem .75rem;
    border-radius: .25rem;
    background-color: #0e76a8;
    color: #fff;
    border-color: #0e76a8;
    text-decoration: none;
}