html, body{
    height: 100%;
    height: 100%;
}
header{
    position: 100%;
    width: 100%;
    background: url('../images/oceano.jpg');
    /* Faz a imagem caber na tela */
    background-size: cover;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    /* Imagem de fundo fica fixa e somente letras e imagens de frente se movem "paralax" */
    background-repeat: no-repeat;
    display: block;
}
.profile{
    /* mudar a borda */
    border-radius: 100%;
    width: 25%;
    /* tamanho da borda e cor */
    border: 2px solid white;
}
@media (min-width: 991.98px){
    .profile{
        /* mudar a borda */
        border-radius: 100%;
        width: 20%;
        /* tamanho da borda e cor */
        border: 2px solid white;
    }
}

.txt{
    font-size: 20px;
}
.link{
    color: black;
    text-decoration: none;
    font-size: 15px;
}
/* Hover serve para mudar cor ou aumentar tamanho quando o mouse passa por cima */
.link:hover{
    color: black;
    text-decoration: none;
    font-size: 17px;
}
.space{
    padding-bottom: 25px;
}
.space-top{
    padding-top: 25px;
}
.space-margin{
    margin-bottom: 5px;
}